<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CART DETAILS</title>
    <style>
        h5{
        display: inline;
        }
        table,th,td
        {
        border: 1px solid black;
        }
        table.center
        {
        margin-left: auto;
        margin-right: auto;
        }
    </style>
    <div style="text-align:center">
<h1>YOU'R CART</h1>

        <table class="center">
    <tr>

        <th>PRODUCT NAME</th>
        <th>PRODUCT IMAGE</th>
        <th>PRODUCT TYPE</th>
        <th>PRODUCT UNIT</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th>GRAND TOTAL</th>
        <th>ACTION</th>


    </tr>
             <tr>
        {% for i in data %}
        <form action="shopping" method="post">
            {% csrf_token %}
        <input type="hidden" name="id" value="{{i.id}}">
        <td>{{i.pid.pname}}</td>
        <td><img src="{{i.pid.photo.url}}" height="70" width="70"></td>
        <td>{{i.pid.ptype}}</td>
        <td>{{i.pid.punit}}</td>
        <td>{{i.pid.dp}}</td>
        <td>{{i.pid.srate}}</td>
        <td>{{i.qty}}</td>
        <td>{{i.gtotal}}</td>

        <td><a href="shopping"><button type="submit" name="view">BUY</button></a> </td>

        </form>
    </tr>
        {% endfor %}
            </table>
    </div>
</body>
</html>