<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>CART DETAILS</title>
    <style>
        h5{
        display: inline;
        }
        table,th,td
        {
        border: 1px solid black;
        }
        table.center
        {
        margin-left: auto;
        margin-right: auto;
        }
    </style>
    <div class="container-sm border"><br>
<div class="container">
<div class="container p-3 my-3 bg-dark text-white">
    <div style="text-align:center">

<h1>YOU'R CART</h1>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="mhome">Home</a>
      </li>
    </ul>
</nav>
    </div></div>
         <div style="text-align:center">
<div class="container p-3 my-3 bg-dark text-white">
<table  class="table table-dark table-striped" border="2">

    <tr>

        <th>PRODUCT NAME</th>
        <th>PRODUCT IMAGE</th>
        <th>PRODUCT TYPE</th>
        <th>PRODUCT UNIT</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th>GRAND TOTAL</th>
        <th>BUY</th>
        <th>REMOVE</th>


    </tr>
             <tr>
        {% for i in data %}
        <form action="shopping3" method="post">
            {% csrf_token %}
        <input type="hidden" name="id" value="{{i.id}}">
        <td>{{i.pid.pname}}</td>
        <td><img src="{{i.pid.photo.url}}" height="70" width="70"></td>
        <td>{{i.pid.ptype}}</td>
        <td>{{i.pid.punit}}</td>
        <td>{{i.pid.dp}}</td>
        <td>{{i.pid.srate}}</td>
        <td>{{i.qty}}</td>
        <td>{{i.gtotal}}</td>

        <td><a href="shopping"><button type="submit" name="view">BUY</button></a> </td>

        </form>
                 <form action="remove1" method="post">
                      {% csrf_token %}
                  <input type="hidden" name="id" value="{{i.id}}">
            <td><a href=""><button type="submit" name="remove1">REMOVE</button></a> </td>
                     </form>
    </tr>
        {% endfor %}
            </table>
    </div>
</body>
</html>