<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>change password</title>
      <style type="text/css">
   label{
      color: red;
   }
   </style>
   <script src="{% static 'jquery.min.js' %}"></script>
   <script src="{% static 'jquery.validate.min.js' %}"></script>
   <script type="text/javascript">
      $(function()
      {
         $("#form1").validate({
            rules:{

               pass:{
                  required:true,
                  minlength:6
               },
               cpass:{
                  required:true,
                  minlength:6,
                  equalTo:"#password"
               },



            },
         });
      });
   </script>
</head>
<body>
<div style="text-align:center">
    </div>
<div style="text-align:center">
<div class="container p-3 my-3 bg-dark text-white"><br><br>
<h1>UPDATE HERE!!!</h1><br><br>
    <form id="form1" action="uppass" method="post">
         {% csrf_token %}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">

        <a color: white; class="nav-link" href="uhome">Home</a>

</nav>

</div></div>

    <div style="text-align:center">
         <input type="hidden" value="{{data.id}}" name="id">

        <div class="container-sm border"><br>
<div class="container">
<div class="col" style="background-color:white;">
     <div class="form-group">
      <div style="text-align:left">
           <div class="pass"><b>OLD PASSWORD:</b></div>
     <input type="password" name="pass" id="pass" value="{{data.password}}" class="form-control"    required>
      </div></div>

     <div class="form-group">
      <div style="text-align:left">
           <div class="pass"><b>NEW PASSWORD:</b></div>
     <input type="password" name="pass" id="pass" class="form-control"  placeholder="Enter Password"   required>
      </div></div>
     <div class="form-group">
      <div style="text-align:left">
           <div class="cpass"><b>CONFIRM PASSWORD:</b></div>
     <input type="password" name="cpass" id="cpass" class="form-control"  placeholder="Confirm Your Password"   required>
      </div></div>
             <div style="text-align:center">
    <input type="submit" name="reg" value="UPDATE" class="btn btn-success ">
     <input type="reset" name="reset" value="RESET" required class="btn btn-danger">
             </div>
</form>
</body>
</html>