<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>PRODUCT REGISTRATION</title>
     <style type="text/css">
   label{
      color: red;
   }
    </style>
    <script src="{% static 'jquery.min.js' %}"></script>
   <script src="{% static 'jquery.validate.min.js' %}"></script>
   <script type="text/javascript">
      $(function()
      {
         $("#form1").validate({
            rules:{
               pname:{
                  required:true,
                  minlength:4
               },
               srate:{required:true,
                       number:true,
                       minlength:2
                },
                 photo:{
                  required:true,
               },
                ptype:{
                  required:true,
               },
                punit:{
                  required:true,
               },
               dp:{
                  required:true,
               }

            },
         });
      });
   </script>
</head>
<body>
<div style="text-align:center">
</div>
<div style="text-align:center">
<div class="container p-3 my-3 bg-dark text-white"><br><br>
<h1>REGISTER PRODUCT!!!</h1><br><br>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <a color: white; class="nav-link" href="adminhome">Home</a>
          &nbsp&nbsp<a class="nav-link" href="productdetails">View Products</a>
      </nav>
</div></div>
<form id="form1" action="proreg" method="post" enctype="multipart/form-data">
     <div style="text-align:center">
    {% csrf_token %}
          <div class="container-sm border"><br>
<div class="container">
<div class="col" style="background-color:white;">
    <div class="form-group">
      <div style="text-align:left">
      <div class="pname"><b>PRODUCT NAME:</b></div>
      <input type="text" id="pname" name="pname" class="form-control"  placeholder="Enter Product name" required>
      </div></div>
    <div class="form-group">
      <div style="text-align:left">
      <div class="srate"><b>PRICE:</b></div>
      <input type="number" id="srate" name="srate" class="form-control"  placeholder="Enter Price" required>
      </div></div>
    <div class="form-group">
      <div style="text-align:left">
           <div class="file"><b>PRODUCT IMAGE:</b></div>
     <input type="file" name="file" id="file" class="form-control"  placeholder="Upload Photo"   required>
      </div></div>
     <div class="form-group">
      <div style="text-align:left">
           <div class="ptype"><b>PRODUCT TYPE:</b></div>
           <select name="ptype" id="ptype" class="form-control">
               <option>HOME DECOR</option>
    <option>SNACKS</option>
    <option>PICKLE</option>
    <option>FACE MASK</option>
    <option>SANITIZER</option>
    <option>SPICES</option>
    <option>HOUSE KEEPING\CLEANING</option>

  </select>
      </div></div>
    <div class="form-group">
      <div style="text-align:left">
           <div class="punit"><b>PRODUCT UNIT:</b></div>
           <select name="punit" id="punit" class="form-control">
               <option>PER PIECE</option>
    <option>500 gm</option>
    <option>500 ml</option>
    <option>COMBO OF 10</option>
               </select>
      </div></div>
    <div class="form-group">
      <div style="text-align:left">
      <div class="dp"><b>DESCRIPTION:</b></div>
      <input type="text" id="dp" name="dp" class="form-control"  placeholder="Enter Description" required>
      </div></div>
    <input type="submit" name="register" value="REGISTER" class="btn btn-danger">
     <input type="reset" name="reset" value="RESET" required class="btn btn-success">
</form>
</div>
</div>
</body>
</html>