<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>PRODUCT DETAILS</title>
    <style>
        h5{
        display: inline;
        }
        table,th,td
        {
        border: 1px solid black;
        }
        table.center
        {
        margin-left: auto;
        margin-right: auto;
        }
    </style>
</head>
<body>
<div class="container-sm border"><br>
<div class="container">
<div class="container p-3 my-3 bg-dark text-white">
<form action="payment" method="post">
    {% csrf_token %}

<div style="text-align:center">
    <h3><b>PRODUCT DETAILS</b></h3></div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="mhome">Home</a>
      </li>
    </ul>
</nav>
</div></div>
    <div style="text-align:center">
    <div class="container p-1 my-1 bg-dark text-white"><br>
    <div class="container">
        <div class="col" style="background-color:white;">
            <table class="table table-dark table-striped" border="1"><br>

<!--<table class="center" border="1">-->
    <tr>{% for i in data1 %}
     <img src="{{i.pid.photo.url}}" height="250" width="250"></tr>
        <input type="hidden" name="pid" value="{{i.pid.id}}"><br><br>

<tr>
    <th>PRODUCT NAME</th>
    <td>{{i.pid.pname}}</td>
</tr>
    <tr>
    <th>PRODUCT TYPE</th>
    <td>{{i.pid.ptype}}</td>
</tr>
<tr>
    <th>PRODUCT UNIT</th>
    <td>{{i.pid.punit}}</td>
</tr>
    <tr>
    <th>DESCRIPTION</th>
    <td>{{i.pid.dp}}</td>
</tr>
<tr>
    <th>PRICE</th>
    <td>{{i.pid.srate}}</td>
</tr>
             <input type="hidden" name="qty" value="{{i.qty}}"><br><br>
<tr>
    <th>QUANTITY</th>
    <td>{{i.qty}}</td>
</tr>
 <input type="hidden" name="gtotal" value="{{i.gtotal}}"><br><br>
<tr>
    <th>GRAND TOTAL</th>
    <td>{{i.gtotal}}</td>
</tr>
    {% endfor %}
    </tr>


</table>
    <input type="submit" name="submit" value="BUY NOW" class="btn btn-danger">
</div></form>
<form action="shopping4" method="post">
    {% csrf_token %}

<div style="text-align:center">
    <h3><b>DELIVERY DETAILS</b></h3></div>
    <div class="container p-1 my-1 bg-dark text-white"><br>
    <div class="container">
        <div class="col" style="background-color:white;">
            <table class="table table-dark table-striped" border="1"><br>
    <!--<table class="left" border="1">-->
    <tr>

        <input type="hidden" name="id" value="{{i.id}}"><br><br>

<tr>
    <th>CUSTOMER NAME</th>
    <td>{{h.fname}} {{h.lname}}</td>
</tr>
    <tr>
    <th>ADDRESS</th>
    <td>{{h.hname}}</td>
</tr>
<tr>
    <th>CITY</th>
    <td>{{h.place}}</td>
</tr>

<tr>
    <th>PIN</th>
    <td>{{h.pin}}</td>
</tr>


    </tr>


</table>
    <input type="submit" name="submit" value="CHANGE ADDRESS" class="btn btn-success">

</form><br><br>



</body>
</html>